<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="js-form">
        <input class="fileName" type="text" placeholder="fileName" name="fileName">
        <input class="file" type="file" name="file">
        <button>submit</button>
    </form>

    <ul>
        <li>
            <img src="http://localhost:3000/image/tiger.jpg" alt="rasm">
            <p>qandaydir rasm</p>
            <a href="/download/tiger.jpg">download</a>
        </li>
        <li>
            <img src="https://picsum.photos/400/200" alt="rasm">
            <p>qandaydir rasm</p>
            <a href="">download</a>
        </li>
    </ul>

    <script src="/js/main.js"></script>
</body>
</html>